{% macro appMetricCard(params) %}
<div class="app-metric-card">
  <div class="app-metric-card__value">{{ params.value }}</div>
  <div class="app-metric-card__label">{{ params.label }}</div>
</div>
{% endmacro %}
