{% extends "layout.njk" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title }}</h1>
<p class="govuk-body">{{ message }}</p>
<a href="/dashboard" class="govuk-link">Return to dashboard</a>
{% endblock %}
